@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50% ) ;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}
section#login > div#foto {
    display: block;
    background:blueviolet url(../imagens/PreÌdios-inteligentes-scaled-e1606835611241.jpg);
    height: 200px;
    background-size: cover;
    background-position:left bottom ;
}
section#login > div#formulario{
    display: block;
    padding: 10px;

}




