body{ 
    background-color: rgb(36, 35, 35);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
h1{
    color: darkgray;
    text-shadow: 1px 1px ghostwhite;
}
